<div class="page-actions">

    <div class="container">

        <ul class="list list--tabs">
            <li><a href="" class="button button--tab button--tab--inactive">Share a Link</a></li>
            <li><a href="" class="button button--tab button--tab--inactive">Start a Discussion</a></li>
            <li><a href="" class="button button--tab button--tab--inactive">Subscribe</a></li>
            <li><a href="" class="button button--tab button--tab--inactive">Block</a></li>
        </ul>

    </div>

</div>
