    <aside class="sidebar">

        <section class="box box--page-section u-padding">

            <h2 class="box__title box--page-section__title">SomeSubverse</h2>
            <div class="box__body md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <hr>

            <table>
                <tr>
                    <td>
                        Subscribers:
                    </td>
                    <td>
                        263
                    </td>
                </tr>
                <tr>
                    <td>
                        Users here now:
                    </td>
                    <td>
                        8
                    </td>
                </tr>
                <tr>
                    <td>
                        Your CCP:
                    </td>
                    <td>
                        93
                    </td>
                </tr>
                <tr>
                    <td>
                        CCP to downvote:
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        A community for:
                    </td>
                    <td>
                        <time>6 months</time>
                    </td>
                </tr>
                <tr>
                    <td>
                        Created by:
                    </td>
                    <td>
                        <a href="" class="username">SomeDude</a>
                    </td>
                </tr>

            </table>
        </section>

        <section class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Moderators</h2>
            <div class="box__body md">
                <ul>
                    <li><a href="" class="username">SomeDude</a></li>
                    <li><a href="" class="username">SomeOtherDude</a></li>
                </ul>
            </div>

            <a href="#" class="button button--small button--disabled u-margin-top">Message</a>

        </section>

        <section class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Moderation Logs</h2>
            <div class="box__body md">
                <ul>
                    <li><a href="">Submissions removed</a></li>
                    <li><a href="">Comments removed</a></li>
                    <li><a href="">Users banned</a></li>
                </ul>
            </div>
        </section>

        <section class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Voat Announcements</h2>
            <div class="box__body md">
                We're looking for people to help us beta test our new API. <a href="/v/voatdev/comments/88531">Click here</a> to find out how you can participate.
            </div>
        </section>



    </aside>
