// Linux fonts should be specified first in the stacks.
// Otherwise, some systems will use Windows / MacOS
// font names as aliases for less appropriate fonts.

$font-stack-sans:	"DejaVu Sans",					// Linux
					"DejaVu LGC Sans",				// Linux
					"Bitstream Vera Sans",			// Linux
					"Verdana",						// Windows, Mac OS, iOS
					"Noto Sans",					// Android
					sans-serif;

$font-stack-mono:	"DejaVu Sans Mono",				// Linux
					"DejaVu LGC Sans Mono",			// Linux
					"Bitstream Vera Sans Mono",		// Linux
					"Menlo",						// Mac OS, iOS
					"Lucida Console",				// Windows
					monospace;

$base-font-size:  1.2rem;
$scale: 1.2;


* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

html {
	min-height: 100vh;
	font-size: 62.5%; // make 0.1rem = 1px
}

body {
	padding-top: 5rem;
	min-height: calc(100vh + 1px); // force scroll bars on short pages
	font-family: $font-stack-sans;
	font-size: $base-font-size;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: $base-font-size * $scale * $scale * $scale;
}

h2 {
	font-size: $base-font-size * $scale * $scale;
}

h3 {
	font-size: $base-font-size * $scale;
}

h4,
h5,
h6 {
	font-size: $base-font-size / $scale;
}

th,
td,
input,
textarea,
select {
	border-width: 1px;
	border-style: solid;
}

abbr {
	border-bottom-width: 1px;
	border-style: dotted;
	text-decoration: none;
}


p,
ul,
ol,
pre,
blockquote {
    margin-bottom: 10px;

    &:last-child {
        margin: 0;
    }
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

ul {
    list-style: inside square;
}

ol {
    list-style: inside decimal;
}

pre,
blockquote {
    padding: 10px;
    padding-left: 14px;
    overflow: auto;
}

pre {
    display: flex;
}

svg,
blockquote {
    display: block;
}

pre,
code {
	font-family: $font-stack-mono;
}

hr {
	width: 100%;
	height: 1px;
    margin: 1.5rem 0;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
}

th {
    font-size: 1.4rem;
    text-align: left;
}

th,
td {
    padding: 0.5rem 1rem;
	line-height: 2;
}

input,
textarea {
	padding: 0.5rem;
	width: 100%;

	&:focus {
		&::-webkit-input-placeholder {
	       color: transparent;
	    }

	    &::-moz-placeholder {
	       color: transparent;
	    }

	    &:-ms-input-placeholder {
	       color: transparent;
	    }
	}
}

textarea {
	min-width: 100%;
	max-width: 100%;
	height: 10rem;
}

[href="#s"]::after { // Spoiler
    content: attr(title);
    display: inline-block;
    padding: 0 0.5rem;
}
