    <aside class="sidebar">

        <div class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">AtkoItOut</h2>

            <div class="u-flex-row">

                <img src="{{ site.baseurl }}/images/thumb-placeholder.png" class="box__thumbnail">

                <div class="box__details">
                    "Aww snap, this user did not yet write their bio. If they did, it would show up here, you know."
                </div>

            </div>

            <br>

            <table>
                <tr>
                    <td>
                        Joined:
                    </td>
                    <td>
                        <time>7 months ago (6/11/2015)</time>
                    </td>
                </tr>
                <tr>
                    <td>
                        SCP:
                    </td>
                    <td>
                        314
                    </td>
                </tr>
                <tr>
                    <td>
                        CCP:
                    </td>
                    <td>
                        1592
                    </td>
                </tr>
            </table>

        </div>

        <div class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Badges</h2>
            <div class="box__body">
                <ul class="list list--horizontal">
                    <li><img class="box__thumbnail box__thumbnail--small"></li>
                    <li><img class="box__thumbnail box__thumbnail--small"></li>
                    <li><img class="box__thumbnail box__thumbnail--small"></li>
                    <li><img class="box__thumbnail box__thumbnail--small"></li>
                </ul>
            </div>
        </div>

        <div class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Moderating</h2>
            <div class="box__body md">
                <ul>
                    <li><a href="">SomeSubverse</a></li>
                    <li><a href="">SomeOtherSubverse</a></li>
                </ul>
            </div>
        </div>

    </aside>
