<ul class="list list--formatting-buttons">
    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-format_bold" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-format_italic" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-link" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-format_quote" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-code" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-format_list_bulleted" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-format_list_numbered" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-warning" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-format_size" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-remove" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-view_comfortable" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-format_extra_space" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-strikethrough_s" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-arrow_drop_up" />
            </svg>
        </a>
    </li>

    <li>
        <a href="#" class="button button--formatting">
            <svg>
                <use xlink:href="#icon-arrow_drop_down" />
            </svg>
        </a>
    </li>


</ul>
