.body {
    @extend .u-flex-column;

    &__backdrop {
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;

        .body_-modal-is-open &,
        .body_-launcher-is-open & {
            display: flex;
        }
    }
}
