<article class="box--submission box">

    <div class="u-flex-row">

        {% if page.votable %}
        {% include modules/vote-arrows/vote-arrows--submission.html %}
        {% endif %}

        <div class="box--submission__vote-bar">
            <div style="height: 80%">

            </div>
        </div>

        <a href="#" class="box__thumbnail box--submission__thumbnail"></a>

        <div class="box__main box--submission__main">

            <h3 class="box__title box--submission__title"><a href="#">Submission Title. The quick brown fox jumps over the lazy dog.</a> [<a href="#">domain.com</a>]</h3>

            <div class="box__details box--submission__details">
                <span class="u-hide-after-550"><time>5h</time> &bull; by <a href="#" class="username">User</a> to <a href="#" class="subverse">Subverse</a> &bull; 257 [345 - 88]</span>
                <span class="u-hide-until-550">Submitted <time>5 hours ago</time> by <a href="#" class="username">User</a> to <a href="#" class="subverse">Subverse</a> &bull; 257 points [345 - 88]</span>
            </div>

            <div class="list list--horizontal">
                <li><a href="comments" class="button button--small button--quiet">3 comments</a></li>
                <li><a href="#" class="button button--small button--quiet">save</a></li>
                <li><a href="#" class="button button--small button--quiet jsExpandThisSubmission">expand</a></li>
            </div>

        </div>

    </div>

    <div class="box--submission__image-expander">
        <img src="{{ site.baseurl }}/images/1200x800.png">
    </div>


</article>
