<article class="box box--private-message">

    <h3 class="box__title box--private-message__title">Private message title</h3>

    <div class="box__details box--private-message__details">
        <span class="u-hide-after-550"><a href="#" class="username">User</a> &bull; <time>53m</time></span>
        <span class="u-hide-until-550">Sent by <a href="" class="username">Username</a> <time>53 minutes ago</time>.</span>
    </div>

    <div class="box__body box--private-message__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <ul class="list list--horizontal">
        <li><a href="#" class="button button--loud button--small">reply</a></li>
        <li><a href="#" class="button button--quiet button--small">source</a></li>
        <li><a href="#" class="button button--quiet button--small">delete</a></li>
    </ul>

</article>
