<div class="vote-arrows vote-arrows--submission">

    <a class="vote-arrows__arrow vote-arrows__arrow--up vote-arrows--submission__arrow vote-arrows--submission__arrow--up" href="#">
        <svg>
            <use xlink:href="#icon-upvote" />
        </svg>
    </a>

    <div class="vote-arrows__vote-count">
        257
    </div>

    <a class="vote-arrows__arrow vote-arrows__arrow--down vote-arrows--submission__arrow vote-arrows--submission__arrow--up" href="#">
        <svg>
            <use xlink:href="#icon-downvote" />
        </svg>
    </a>

</div>
