// Light theme

$gray-1: #222;
$gray-2: #444;
$gray-3: #666;
$gray-4: #888;
$gray-5: #aaa;
$gray-6: #ccc;
$gray-7: #eee;

$blue:    #2D4AA1;
$purple:  #741799;
$orange:  #BD4F40;
$yellow:  #FFC231;

$light-blue:     lighten($blue,    15%);
$light-purple:   lighten($purple,  15%);
$light-orange:   lighten($orange,  15%);
$light-yellow:   lighten($yellow,  15%);

$dark-blue:       darken($blue,    15%);
$dark-purple:     darken($purple,  15%);
$dark-orange:     darken($orange,  15%);
$dark-yellow:     darken($yellow,  15%);


$upvote-color: #63C5FB;
$downvote-color: #a08fff;

$border-color: $gray-6;
$border: 1px solid $border-color;

.launcher {
    background: $gray-1;
    border: 1px solid $gray-1;
    border-top: 0;

    &__input:focus {
        border-color: white !important;
        color: white;
    }
}

.body {
    background: $gray-7;
    color: black;

    &_-modal-is-open > .body__backdrop,
    &_-launcher-is-open > .body__backdrop {
        background: transparentize($gray-7, 0.05);
    }
}

a {
    color: $blue;

    &:active,
    &:hover {
        color: $light-blue;
        text-decoration: none;

        &:visited {
            color: $light-purple;
        }
    }

    &:visited {
        color: $purple;
    }
}

.username,
.subverse {
    font-style: normal;
    color: $blue !important;

    &:focus,
    &:hover {
        color: $light-blue !important;
        text-decoration: none;
    }
}

hr {
    background: $border-color;
}

.input {

    &__input,
    &__select,
    &__textarea {
        background: transparent;
        border: $border;
        color: black;

        &:focus {
            border-color: $light-orange;
        }
    }

    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}


.header {
    background: $gray-1;

    a {
        color: $gray-7;
        text-decoration: none;
        outline: none;

        &:focus,
        &:hover {
            color: $upvote-color !important;
        }
    }

    svg {
        fill: $gray-7;
    }

    &__logo a:focus svg path,
    &__logo a:hover svg path {
        fill: $upvote-color !important;
    }
}


.box {

    &__details {
        color: $gray-3;
        font-style: italic;
    }

    &__expository {
        color: $gray-2;
        font-style: italic;
        background: $gray-7;
        border-left: 4px solid $gray-3
    }

    &__thumbnail {
        background: $gray-1;
    }

    &--modal {
        background: white;
        border: 1px solid $gray-5;
    }

    &--page-section {
        background: white;
        border: $border;
    }

    &--submission {

        &__vote-bar {
            background: $downvote-color;

            > div {
                background: $upvote-color;
                border-bottom: 1px solid white;
            }
        }
    }

    &--comment {
        border-left: 1px solid $gray-6;

        &:hover {
            border-color: $dark-blue;
        }
    }
}

.list {

    &--tabs {
        border-bottom: $border;
    }
}

.vote-arrows {

    &__arrow {
        outline: none;

        svg {
            fill: $gray-4;
        }

        &--up:focus svg,
        &--up:hover svg {
            fill: $upvote-color;
        }

        &--down:focus svg,
        &--down:hover svg {
            fill: $downvote-color;
        }
    }
}

.button {
    outline: none;

    &--loud {
        background: $orange;
        color: white !important;

        &:focus,
        &:hover {
            background: $dark-orange;
        }
    }

    &--quiet {
        background: $gray-7;
        color: black !important;

        &:focus,
        &:hover {
            background: $gray-3;
            color: white !important;
        }
    }

    &--serious {
        @extend .button--loud;

        &:focus,
        &:hover {
            background: #D10076;
            color: $gray-7 !important;
        }
    }

    &--disabled {
        background: $gray-7;
        color: $gray-3 !important;
        cursor: not-allowed;
    }

    &--header {

        &__number {
            font-weight: bold;
            background: $yellow;
            color: $gray-1;
            border: 2px solid $gray-1;
        }

        &:focus svg,
        &:hover svg {
            fill: $upvote-color;
        }
    }

    &--tab {
        color: $gray-1 !important;

        &--inactive:focus,
        &--inactive:hover {
            border-bottom: 4px solid $gray-6;
        }

        &--active {
            border-bottom: 4px solid $orange;

            &:focus,
            &:hover {
                border-color: $dark-orange;
            }
        }
    }


    &--formatting {
        svg {
            fill: $gray-5;
        }

        &:focus svg,
        &:hover svg {
            fill: $dark-orange;
        }
    }
}

.toggle {
    // The "fake" toggle is the part the visible part.

    // The "real" toggle is invisible and its states
    // (e.g. :checked and :focus) are used to apply
    // styling to the fake toggle.

    // This results in a nicer looking toggle while
    // fully maintaining accessibility.

    &__checkbox-fake,
    &__radio-fake {
            // Base border of the fake checkbox
            border: $border;
        }

    &__checkbox-real,
    &__radio-real {

        &:checked + label > .toggle__checkbox-fake,
        &:checked + label > .toggle__radio-fake {
            // Border color of the fake checkbox when :checked
            border-color: $light-blue;

            &::before {
                // Background of the fake checkbox when :checked
                background: $light-blue;
            }
        }

        &:focus + label {
            // Color of the label text when checkbox has :focus
            // (for navigating with tab)
            color: $blue;

            > .toggle__checkbox-fake,
            > .toggle__radio-fake {
                // Border color of the fake checkbox when checkbox has :focus
                border-color: $blue;

                &::before {
                    // Background of the fake checkbox when checkbox has :focus
                    background: $blue;
                }
            }
        }
    }

    &__label:hover {
        // Color of the label text when :hovered over
        color: $blue;

        > .toggle__checkbox-fake,
        > .toggle__radio-fake {
            // Border color of fake toggle when label is :hovered over
            border-color: $blue !important;

            &::before {
                // Background of fake toggle when label is :hovered over
                background: $blue !important;
            }
        }
    }
}
