<footer class="footer" role="contentinfo">

    <div class="container container--footer">

        <ul class="list list--horizontal u-margin-bottom">
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Markdown</a></li>
            <li><a href="#">Source code</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">RSS</a></li>
            <li><a href="#">Become a partner</a></li>
        </ul>
        <span class="u-margin-bottom">Use of this site constitutes acceptance of our <a href="/help/useragreement">User Agreement</a> and <a href="/help/privacy">Privacy Policy</a>.</span>
        <span>Copyright Voat.co. All rights reserved. Voat and the Voat Mascot are trademarks of Voat.co.</span>

    </div>

</footer>
