    <aside class="sidebar">

        <section class="box box--page-section u-padding">
            <h2 class="box__title">Voat</h2>
            <p class="u-margin-bottom">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="list list--vertical">
                <li><a href="#" class="button button--medium button--loud button--full-width">Share a Link</a></li>
                <li><a href="#" class="button button--medium button--loud button--full-width">Start a Discussion</a></li>
                <li><a href="#" class="button button--medium button--quiet button--full-width">Explore Subverses</a></li>
                <li><a href="#" class="button button--medium button--quiet button--full-width">Create a New Subverse</a></li>
                <li><a href="#" class="button button--medium button--quiet button--full-width">Random SFW Subverse</a></li>
                <li><a href="#" class="button button--medium button--quiet button--full-width">Random NSFW Subverse</a></li>
            </ul>
        </section>

        <!-- <section class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Featured subverse</h2>
            {% include modules/box/box--subverse.html %}
        </section> -->

        <section class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Most viewed in the past 24 hours</h2>

            <ul class="list list--vertical">

                <li class="box">
                    <a href="#" class="">Submission title. The quick brown fox jumps over the lazy dog.</a>
                    <div class="box__details box--submission__details">
                        <a href="#" class="subverse">SomeSubverse</a> / 5 hours ago
                    </div>
                </li>

                <li class="box">
                    <a href="#" class="">Submission title. The quick brown fox jumps over the lazy dog.</a>
                    <div class="box__details box--submission__details">
                        <a href="#" class="subverse">SomeSubverse</a> / 5 hours ago
                    </div>
                </li>

                <li class="box">
                    <a href="#" class="">Submission title. The quick brown fox jumps over the lazy dog.</a>
                    <div class="box__details box--submission__details">
                        <a href="#" class="subverse">SomeSubverse</a> / 5 hours ago
                    </div>
                </li>

                <li class="box">
                    <a href="#" class="">Submission title. The quick brown fox jumps over the lazy dog.</a>
                    <div class="box__details box--submission__details">
                        <a href="#" class="subverse">SomeSubverse</a> / 5 hours ago
                    </div>
                </li>

                <li class="box">
                    <a href="#" class="">Submission title. The quick brown fox jumps over the lazy dog.</a>
                    <div class="box__details box--submission__details">
                        <a href="#" class="subverse">SomeSubverse</a> / 5 hours ago
                    </div>
                </li>

            </ul>

        </section>


        <section class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Unofficial Voat Mobile Apps</h2>
            <div class="box__body md">
                <p>We love these two, unofficial Android apps for Voat: <a href="https://play.google.com/store/apps/details?id=net.lumigo.vobrowser2">voBrowser</a> and <a href="https://play.google.com/store/apps/details?id=com.SpaceMonkey.Boats">Boats for Voat</a>.
                </p>
                <p>If you see another Voat apps in the wild, do let us know!</p>
            </div>
        </section>

        <section class="box box--page-section u-padding">
            <h2 class="box__title box--page-section__title">Advertize on Voat</h2>
            <div class="box__body md">
                Your ad here? <a href="mailto:hello@voat.co">Contact us.</a>
            </div>
        </section>



    </aside>
