<form class="launcher input" id="launcher">

    <input class="launcher__input input__input u-margin-bottom" id="launcher__input" type="text" autocomplete="off">

    <ul class="list list--launcher launcher__list" id="launcher__list">
        <li><a href="https://voat.co/">Front</a></li>
        <li><a href="https://voat.co/v/all/">All</a></li>
        <li><a href="https://voat.co/random/">Random</a></li>
        <li><a href="https://voat.co/randomnsfw">Random NSFW</a></li>
        <li><a href="https://voat.co/v/newsubverses/">newsubverses</a></li>
        <li><a href="https://voat.co/v/introductions/">introductions</a></li>
        <li><a href="https://voat.co/v/news/">news</a></li>
        <li><a href="https://voat.co/v/videos/">videos</a></li>
        <li><a href="https://voat.co/v/technology/">technology</a></li>
        <li><a href="https://voat.co/v/science/">science</a></li>
        <li><a href="https://voat.co/v/music/">music</a></li>
        <li><a href="https://voat.co/v/gaming/">gaming</a></li>
        <li><a href="https://voat.co/v/aww/">aww</a></li>
        <li><a href="https://voat.co/v/books/">books</a></li>
        <li><a href="https://voat.co/v/gifs/">gifs</a></li>
        <li><a href="https://voat.co/v/sports/">sports</a></li>
        <li><a href="https://voat.co/v/tv/">tv</a></li>
        <li><a href="https://voat.co/v/programming/">programming</a></li>
        <li><a href="https://voat.co/v/goats/">goats</a></li>
        <li><a href="https://voat.co/v/movies/">movies</a></li>
        <li><a href="https://voat.co/v/politics/">politics</a></li>
        <li><a href="https://voat.co/v/AskVoat/">AskVoat</a></li>
        <li><a href="https://voat.co/v/pics/">pics</a></li>
        <li><a href="https://voat.co/v/religion/">religion</a></li>
        <li><a href="https://voat.co/v/atheism/">atheism</a></li>
        <li><a href="https://voat.co/v/ideasforvoat/">ideasforvoat</a></li>
        <li><a href="https://voat.co/v/funny/">funny</a></li>
        <li><a href="https://voat.co/v/announcements/">announcements</a></li>
        <li><a href="https://voat.co/v/whatever/">whatever</a></li>
        <li><a href="https://voat.co/v/IAMA/">IAMA</a></li>
    </ul>

    <!-- hidden submit button (necessary for iOS) -->
    <input type="submit" class="launcher__submit">

</form>
