<div id="body__backdrop" class="body__backdrop">


    <div class="box box--modal" id="login">

        <h1 class="box__title box--modal__title">Log in</h1>
        <div class="box__body box--modal__body">
            <div class="box__expository box--modal__expository u-margin-bottom">
                <p>
                    Don't have an account yet? <a href="#">Register here.</a>
                </p>
                <p>
                    All you need is a username and password &mdash; no email address required.
                </p>
            </div>

            <div class="input u-margin-bottom">
                <label for="loginUsername" class="input__label">Username:</label>
                <input id="loginUsername" type="text" class="input__input">
            </div>

            <div class="input u-margin-bottom">
                <label for="loginPassword" class="input__label">Password:</label>
                <input id="loginPassword" type="password" class="input__input">
            </div>

            <div class="toggle">

                <input class="toggle__checkbox-real" id="checkbox1" type="checkbox">

                <label class="toggle__label" for="checkbox1">

                    <span class="toggle__checkbox-fake"></span>

                    <span>Remember me</span>

                </label>
            </div>
        </div>

        <ul class="list list--horizontal">
            <li><button type="button" class="button button--medium button--loud">Log in</button></li>
            <li><a href="#" class="button button--medium button--quiet jsCloseModal">Cancel</a></li>
            <li class="u-flex-grow"></li>
            <li><a href="#">Forgot password?</a></li>
        </ul>

    </div>


    <div class="box box--modal" id="notEnoughCCP">

        <h1 class="box__title box--modal__title">Welcome to Voat!</h1>

        <div class="box__body box--modal__body">
            <p>In order to downvote comments or submissions you need to have at least 100 comment contribution points (CCP).</p>
            <p>Every time someone upvotes one of your comments, you gain 1 comment contribution point.</p>
            <p>You currently have 8 comment contribution points.</p>
            <p>Tip: a good way to earn more contribution points is to take part in discussions or say hi in <a href="/v/introductions">/v/introductions</a>.</p>
            <p>This requirement was established as a measure to encourage new members to get involved and participate in discussions.</p>
        </div>

        <ul class="box__footer list list--horizontal">
            <li><a href="#" class="button button--medium button--loud jsCloseModal">Got it</a></li>
        </ul>

    </div>



</div>
